.container{
    margin-top:50px;
    border:0px solid black;
    display:grid;
    grid-template-columns: repeat(4,200px);
    justify-content:space-evenly;
    gap:50px;
}
.container>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}